[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests = "*"
flake8 = "*"
autoflake = "*"
mypy = "*"
pytest-cov = "*"
black = "*"
typing-extensions = "*"

[packages]
fastapi = "*"
uvicorn = "*"
motor = "*"
email-validator = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
