[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests = "*"
flake8 = "*"
black = "*"
autoflake = "*"
mypy = "*"

[packages]
fastapi = "*"
uvicorn = "*"
black = "*"

[requires]
python_version = "3.7"
